/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
    color: var(--pagetext);
    background-color: var(--postbackground);
}

h1 {
	color: rgba(var(--text),0.05);
}

h2 {
	color: var(--pageheading);
}

h3 {
	border-bottom-color: var(--pageheading);
	color: var(--pageheading);
}

hr {
	border-color: rgba(var(--text),0.05);
	border-top-color: var(--pageheading);
}

.search-box fieldset {
	font-size: 1.5em;
}

.message-box {
	width: 100%;
}

#sidebar, .postprofile {
    font-size: 12pt;
}

.search-box .inputbox {
	height: initial;
}

.postbody {
    font-size: 10pt;
}

.button-search-end i {
    position: relative;
    top: 3px;
}

h2 {
    font-size: 3em;
}

.post {
    border: 0 !important;
}

.avatar img {
    z-index: 0 !important;
}

ol li, ul li {
    margin-top: 0 !important;
}

.page-body a {
	display: initial !important;
}

a.postlink {
    color: var(--hyperlink) !important;
}

.page-body {
	font-size: 10pt;
}

dl dt {
    font-weight: initial;
}

.bbcode-status {
	display: none !important;
}

.cp-menu .navigation ul li {
    display: block !important;
}

.autowidth {
    width: 100% !important;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: var(--hyperlink); }
a:hover, a:focus, a:active {
    color: var(--hyperlink);
    text-decoration: underline;
}
/* Links on gradient backgrounds */
th a {
	color: var(--hyperlink);
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: var(--hyperlink);
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: rgba(var(--text),0.05);
	border-color:rgba(var(--text),0.05);
}

/* Post body links */
.postlink {
	border-bottom-color: var(--hyperlink);
	color: var(--hyperlink);
}

.postlink:visited {
	border-bottom-color: #5D8FBD;
	color: #5D8FBD;
}

.postlink:hover {
	background-color: #D0E4F6;
	color: #0D4473;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: var(--hyperlink);
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	
}

.headerbar {
	color: var(--pageheading);;
}

.forumbg, .forabg {
	background-color: rgba(var(--text),0.05);
	border-color:rgba(var(--text),0.05)
}

.panel {
	background-color: rgba(var(--text),0.05);
	color: var(--pageheading);
	border-color:rgba(var(--text),0.05);
}

.post:target .content {
	color: var(--pageheading);;
}

.post h3 a.first-unread, .post:target h3 a {
	color: var(--pageheading);;
}

.bg1 {
	background-color: rgba(var(--text),0.05);
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: rgba(var(--text),0.05);
}

.bg2 {
	background-color: rgba(var(--text),0.05);
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: rgba(var(--text),0.05);
}

.bg3	{
	background-color: rgba(var(--text),0.05);
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

.site_logo {
	background-image: url("./images/site_logo.png");
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: rgba(var(--text),0.05);
}

table.table1 tbody tr {
	border-color: rgba(var(--text),0.05) rgba(var(--text),0.05);
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: rgba(var(--text),0.05);
	color: rgba(var(--text),0.55);
}

table.table1 td {
	color: var(--hyperlink);;
}

table.table1 tbody td {
	border-top-color: rgba(var(--text),0.05);
}

table.table1 tbody th {
	border-bottom-color: var(--pageheading);;
	color: var(--pagetext);
	background-color: rgba(var(--text),0.05);
}

table.info tbody th {
	color: var(--pageheading);;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: var(--pageheading);;
}

dl.details dd {
	color: var(--hyperlink);;
}

.sep {
	color: #1198D9;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green{
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red{
	color: #BC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange{
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray{
	color: var(--hyperlink);;
}

.icon.icon-gray, a:hover .icon.icon-gray{
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray{
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black{
	color: var(--pagetext);
}

.alert_close .icon:before {
	background-color: rgba(var(--text),0.05);
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: var(--pageheading);
}

.jumpbox-cat-link {
	background-color: #0076b1;
	border-top-color: #0076B1;
	color: rgba(var(--text),0.05);
}

.jumpbox-cat-link:hover {
	background-color: #12A3EB;
	border-top-color: #12A3EB;
	color: rgba(var(--text),0.05);
}

.jumpbox-forum-link {
	background-color: rgba(var(--text),0.05);
}

.jumpbox-forum-link:hover {
	background-color: rgba(var(--text),0.05);
}

.jumpbox .dropdown .pointer-inner {
	border-color: transparent;
}

.jumpbox-sub-link {
	background-color: rgba(var(--text),0.05);
}

.jumpbox-sub-link:hover {
	background-color: rgba(var(--text),0.05);
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #ECD5D8;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: rgba(var(--text),0.05);
	color: #BC2A4D;
	border-color:rgba(var(--text),0.05);
}

p.post-notice {
	background-color: #ECD5D8;
	background-image: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: rgba(var(--text),0.05);
}

ul.topiclist li {
	color: var(--pagetext);
}

ul.topiclist dd {
	border-left-color: transparent;
}

.rtl ul.topiclist dd {
	border-right-color: transparent;
	border-left-color: transparent;
}

li.row {
	border-top-color:  rgba(var(--text),0.05);
}

li.row strong {
	color: var(--pageheading);;
}

li.row:hover {
	background-color: background-color: var(--postbackground);;
}

li.row:hover dd {
	border-left-color: transparent;
}

.rtl li.row:hover dd {
	border-right-color: transparent;
	border-left-color: transparent;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: var(--pagetext);
}

/* Content container styles
----------------------------------------*/
.content {
	color: var(--pagetext);
}

.content h2, .panel h2 {
	color: var(--pageheading);
	border-bottom-color: var(--pageheading);
}

dl.faq dt {
	color: var(--pagetext);
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: rgba(var(--text),0.05);
}

/* Post noticies */
.notice {
	border-top-color:  rgba(var(--text),0.05);
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
.avatar {
    width: auto !important;
    height: auto !important;
}
blockquote {
    background-color: rgba(var(--bg),0.5);
    border: 1px solid var(--gradient2);
}

blockquote blockquote {
	/* Nested quotes */
	background-color:rgba(var(--bg),0.5);
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: rgba(var(--text),0.05);
}

/* Code block */
.codebox {
	background-color: rgba(var(--text),0.05);
	border-color: rgba(var(--text),0.05);
}

.codebox p {
	border-bottom-color:  rgba(var(--text),0.05);
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: rgba(var(--text),0.05);
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: rgba(var(--text),0.55);
}

.attachbox p.stats {
	color: rgba(var(--text),0.55);
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: rgba(var(--text),0.55);
}

dl.thumbnail img {
	border-color: rgba(var(--text),0.55);
	background-color: rgba(var(--text),0.05);
}

dl.thumbnail dd {
	color: rgba(var(--text),0.55);
}

dl.thumbnail dt a:hover {
	background-color: var(--pageheading);
}

dl.thumbnail dt a:hover img {
	border-color: var(--hyperlink);
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: rgba(var(--text),0.55);
}

fieldset.polls dl.voted {
	color: var(--pageheading);;
}

fieldset.polls dd div {
	color: rgba(var(--text),0.05);
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: rgba(var(--text),0.55);
	border-color: rgba(var(--text),0.05);
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: var(--pageheading);;
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: transparent;
	background-color: rgba(var(--text),0.05);
	color: var(--hyperlink);
}

.accordion {
    padding-top: 1em;
}

.button i {
    position: relative;
    top: 2px;
}

.button:hover,
.button:focus {
	border-color: var(--hyperlink);
	background-color: rgba(0,0,0,0.1);
}

.button .icon,
.button-secondary {
	color: #8f8f8f;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: var(--hyperlink);
}

.button-search:hover,
.button-search-end:hover {
	border-color: var(--pageheading);
}

.caret	{ border-color: #DADADA; }
.caret	{ border-color: var(--pageheading); }

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #F2F6F9; }

/* Pagination
---------------------------------------- */

.pagination li a {
	background: rgba(var(--text),0.05);
	filter: none;
	border-color: var(--pageheading);
	color: #8f8f8f;
}

.pagination li.ellipsis span {
	background: transparent;
	color:	var(--pageheading);;
}

.pagination li.active span {
	background: rgba(var(--text),0.05);
	border-color: var(--pageheading);
	color: var(--hyperlink);
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: var(--pageheading);
	border-color: var(--hyperlink);
	filter: none;
	color: var(--hyperlink);
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: transparent;
}

.search-results li:hover,
.search-results li.active {
	background-color: rgba(var(--text),0.05);
}

/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{ background-image: url("./images/forum_read.png"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: rgba(var(--text),0.05);
}

.panel-container .panel li.row {
	border-bottom-color: rgba(var(--text),0.05);
	border-top-color: rgba(var(--text),0.05);
}

ul.cplist {
	border-top-color: rgba(var(--text),0.05);
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: var(--pageheading);;
}

.panel-container table.table1 thead th {
	color: var(--pagetext);
	border-bottom-color: var(--pagetext);
}

.cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: rgba(var(--text),0.05);
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: rgba(var(--text),0.05);
	color: var(--hyperlink);;
	border-color:rgba(var(--text),0.05);
}

.tabs .tab > a:hover {
	background: rgba(var(--text),0.05);
	color: var(--hyperlink);
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color: rgba(var(--text),0.05);
	border-color: rgba(var(--text),0.05);
	color: var(--pagetext);
	border-bottom-color:transparent;
	box-shadow:0 2px 0 0 rgba(var(--text),0.05);
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: rgba(var(--text),0.05);
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: rgba(var(--text),0.05);
	color: var(--hyperlink);
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: var(--hyperlink);;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: var(--hyperlink);
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: var(--pageheading);
	background: rgba(var(--text),0.05);
	border-color:rgba(var(--text),0.05);
	border-right-color:transparent;
}

.rtl .navigation a {
	background: rgba(var(--text),0.05);
}

.navigation a:hover {
	background: rgba(var(--text),0.05);
	color: var(--hyperlink);
}

.navigation .active-subsection a {
	background: rgba(var(--text),0.05);
	color: var(--hyperlink);
}

.navigation .active-subsection a:hover {
	color: var(--hyperlink);
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		border:1px solid rgba(var(--text),0.05);
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: var(--pagetext);
}

.panel-container .panel {
	background-color: rgba(var(--text),0.05);
}

.cp-main .pm {
	background-color: rgba(var(--text),0.05);
}

/* Friends list */
.cp-mini {
	background-color: rgba(var(--text),0.05);
	border-color:rgba(var(--text),0.05);
}

dl.mini dt {
	color: var(--pagetext);
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: var(--pageheading); !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: var(--pageheading);;
}

/* Avatar gallery */
.gallery label {
	background: rgba(var(--text),0.05);
	border-color: #CCC;
}

.gallery label:hover {
	background-color: var(--pageheading);
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	background: var(--pagetext);
	background-color: var(--pagetext);
	color: var(--hyperlink);
}

option:not(:checked) {
	background: var(--pagetext);
	background-color: var(--pagetext);
	color: var(--hyperlink);
}

label {
	color: var(--pagetext);
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: var(--pageheading);
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: var(--pageheading);;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: var(--pagetext);
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: rgba(var(--text),0.05);
	border-color: transparent;
	color: var(--pagetext);
}

.inputbox:-moz-placeholder {
	color: var(--pagetext);
}

.inputbox::-webkit-input-placeholder {
	color: var(--pagetext);
}

.inputbox:hover {
	border-color: transparent;
}

.inputbox:focus {
	border-color: transparent;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: rgba(var(--text),0.55);
	background-color: rgba(var(--text),0.05);
}

a.button1, input.button1 {
	border-color: rgba(var(--text),0.55);
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: var(--pageheading);
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: var(--pageheading);;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: var(--hyperlink);
	color: var(--hyperlink);
	background-color: rgba(var(--text),0.05);
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: var(--hyperlink);
	color: var(--hyperlink);
}

input.disabled {
	color: rgba(var(--text),0.55);
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: rgba(var(--text),0.05);
	border-color: #999999;
}
.darken {
	background-color: var(--pageheading);;
}

.loading_indicator {
	background-color: transparent;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: rgba(var(--text),0.05);
}

.dropdown-extended ul li:hover {
	background-color: rgba(var(--bg),0.5);
	color: var(--pageheading);;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: rgba(var(--text),0.05);
	color: var(--pageheading);;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: rgba(var(--text),0.05);
}

.dropdown .pointer {
	border-color: #d6d9dd transparent;
}

.dropdown .pointer-inner {
	border-color: var(--postbackground) transparent;
}

.dropdown-extended .pointer-inner {
	border-color: rgba(var(--text),0.05) transparent;
}

.dropdown .dropdown-contents {
	background: var(--postbackground);
	border-color: rgba(var(--text),0.05);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: var(--pagetext);
}

li.notification-reported strong, li.notification-disapproved strong {
	color: var(--hyperlink);
}

.badge {
	background-color: var(--hyperlink);
	color: rgba(var(--text),0.05);
	border-color:rgba(var(--text),0.05);
}

body {
	overflow-x: hidden;
}