.pagination {
    padding: 3rem 3rem 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: bold;
}

a.page-numbers:hover {
    text-decoration: none;
    background: #6f8590;
    color: #fff;
}

.current, a.page-numbers, .page .entry-body, .single .entry-body {
    background: transparent !important;
}

a.page-numbers {
    background: #e2e6e9;
    padding: .75rem 1rem;
    border-radius: 2px;
    color: inherit;
    transition: all .2s;
    margin: 0 2px;
}

.current {
    background: none;
    color: inherit;
    background: #fff;
    line-height: 1;
    padding: .75rem 1rem;
    border-radius: 2px;
    border: 1px solid #e2e6e9;