@font-face {
	font-family: 'hylian';
	src: url('./hylian.woff2') format('woff2'), url('./hylian.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.hylian {
	font-family: 'hylian';
	font-weight: 100;
	padding: 0.5em;
	text-align: center;
}

body {
    font-weight: 100;
    background-image: url(../../../images/projects/Mipha/VahRuta.png);
    animation: 4s linear 0s infinite bg;
    font-size: 17pt;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #165278;
    background-blend-mode: soft-light;
}

.wrapper {
	background: linear-gradient(50deg, rgba(23,21,54,0.6) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 47%, rgba(54,102,70,1) 100%);
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:0;
}

.content {
	z-index: 2;
	position: relative;
	color: #fff;
    margin-top:100px;
    margin-left:2em;
    margin-right:2em;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 1px 22px #222;
}

.miphaborder {
  background-repeat: repeat-x;
  height: 32px;
}

    .miphaborder.top {
        background-image: url(../../../images/projects/Mipha/miphaborder-top.png);
        height: 5em;
        background-repeat: round;
        opacity: 0.5;
    }

    .miphaborder.bottom {
        background-image: url(../../../images/projects/Mipha/miphaborder-bottom.png);
        height: 5em;
        background-repeat: round;
        opacity: 0.5;
    }


.miphadownarrow {
    background-image: url(../../../images/projects/Mipha/miphadownarrow.png);
    top: -12px;
    right: -1em;
    position: relative;
    z-index: 3;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    animation: bob 2s linear infinite;
}

.miphahealing {
    background-image: url(../../../images/projects/Mipha/MiphaHealing.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
}

@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.miphacontainer {
    display: flex;
    justify-content: center;
}

a {
    color: #FFF;
    text-decoration: underline;
}

a:hover, a:visited {
	color: #FFF;
}

.toggle {
	border-bottom: 1px solid #fff;
	margin-bottom: 0.5em;
}
.toggle .toggle-title {
	position: relative;
	display: block;
	padding-bottom: 12px;
}
.toggle .toggle-title h3 {
  font-size: 20px;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  font-weight: 200;
}
.toggle .toggle-inner {
  padding: 7px 25px 10px 25px;
  display: none;
  margin: -7px 0 6px;
}
.toggle .toggle-inner div {
  max-width: 100%;
  border-color: rgba(194, 225, 245, 0);
  border-color: transparent;
  border-bottom-color: #F2EEE6;
  border-width: 17px;
  margin-left: -17px;
}
ul, ol {
	list-style-type: circle;
}
.toggle .toggle:before {
  content: "";
  border-color: transparent #ccc;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  display: block;
  height: 0;
  width: 0;
  left: -16px;
  top: 17px;
  position: relative;
}
.toggle .toggle-title .title-name {
  display: block;
  padding: 25px 25px 14px;
}
.column {
	height: auto;
	position: relative;
}
.column:hover img {
	max-height: 100%;
	max-width: 100%;
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;
}

.innercontainer {
	margin-left:2em;
	margin-right:2em;
}



.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    z-index:2;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

    .carousel-item img {
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
    }

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

    .carousel-control.prev {
        left: 2%;
    }

    .carousel-control.next {
        right: 2%;
    }

    .carousel-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .wavecontent {
        height: 30vh;
    }
}


    .carousel-bullet:hover {
        color: #aaaaaa;
    }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.wavescontainer {
    position: fixed;
    bottom: 0;
    width: 100%;
}