.notice {
    background: rgba(0,10,8, 0.2);
    border-color: rgba(var(--accent), 1.0);
    border-radius: 10px;
    margin: 30px 1px 30px 25px;
    overflow: hidden;
    padding: 15px;
    border-left: 3px solid;
}

.notice .red {
    border-color: rgba(255,0,0,1.0) !important;
}

.notice .yellow {
    border-color: rgba(255,191,0,1.0) !important;
}

.notice .blue {
    border-color: rgba(0,159,255,1.0) !important;
}

.notice .green {
    border-color: rgba(0,250,0,1.0) !important;
}