.notice {
    background: rgba(var(--text), 0.15);
    border-color: rgba(var(--accent), 1.0) !important;
    margin: var(--margin);
    overflow: hidden;
    padding: 1em;
    border-left: 6px solid;
}

.notice.red {
    border-color: rgba(255,0,0,1) !important;
}

.notice.yellow {
    border-color: rgba(255,191,0,1) !important;
}

.notice.blue {
    border-color: rgba(0,159,255,1) !important;
}

.notice.green {
    border-color: rgba(0,250,0,1) !important;
}